h1 {
    color:red;
    font-size: 36px;
    text-align: center;
}

li {
    list-style: none;
    float: left;
}

img.stb {
    width: 480px;
    height: 215px;
    background-size: 480px 215px;
}

div.stb-img {
    display: block;
}

div.stb_frame {
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: center;
}

div.stb-item {
    /*float: left;*/
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
}

.promsg {
    display: none;
    color: #fff;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 215px;
    background: url(http://img03.taobaocdn.com/imgextra/i3/701726076/T20XQxXBJXXXXXXXXX-701726076.png) repeat 0 0;
}

.stb-item:hover .promsg {
    display: block;
}

div.footer {
    clear: both;/*加上这句，左右两侧都不允许出现浮动元素*/
}

p {
    color:blue;
}