<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button id="button_close1" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="live-modal-body">
        <!-- <iframe src="http://www.baidu.com" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe> -->
        <iframe id="live_iframe" height=475 width=800 src="http://www.huomaotv.com/index.php?c=outplayer&live_id=15" frameborder=0 allowfullscreen></iframe>
        <!--<embed src="http://staticlive.douyutv.com/common/share/play.swf?room_id=20360" quality="high" width="100%" height="550" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>-->
      </div>
      <div class="modal-footer">
        <button id="button_close2" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
