{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% if lists %}
                <ul>
                {% for list in lists %}
                    <h2>{{ list.name }}</h2>
                    {% for blog in list.blog.all() %}
                    <h3><li><a href="/blog/{{ blog.path[:-3] }}">{{ blog.desc }}</a></li></h3>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% else %}
                <a class="btn btn-primary btn-lg" href="/blog" role="button">文章列表</a>
                <div id="includedContentPage"></div>
                <a name="comment"></a>
                <div id="SOHUCS" sid="blog_{{ blog }}"></div>
                <script>changyan()</script>
            {% endif %}
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="http://zhangshy.github.io/" class="btn btn-primary btn-lg" role="button" target="_blank">github pages</a>
            <a href="https://github.com/zhangshy?tab=repositories" class="btn btn-primary btn-lg" role="button" target="_blank">github主页</a><br>
            <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=5512232169&verifier=36f66de9&dpc=1"></iframe>
        </div>
    </div>
</div>
<script>
$(function(){
  $("#includedContentPage").load("/blog/html/{{ blog }}.html");
});
</script>

{% endblock %}