<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<h1>泰信盒子</h1>
<div class="stb_frame">
{% for stb in stbs %}
    <li>
        <div class="stb-item">
            <div class="stb-img">
                <a href="{{ stb.href }}" target="_blank"><img class="stb" src="http://img04.taobaocdn.com/imgextra/i4/701726076/T2a.7aXIdaXXXXXXXX-701726076.gif" style="background-image: url({{ stb.img }})" alt="{{ stb.name }}"/></a>
            </div>
            <p>price: {{ stb.price }}</p>
            <a class="promsg" href="{{ stb.href }}" target="_blank">
                {{ stb.promsg_title }}
            </a>
        </div>
    </li>
{% endfor %}
</div>
<div class="footer">
<img src="http://ww2.sinaimg.cn/bmiddle/87379ae7gw1eohw7xzrfej213l0m9dod.jpg"/>
</div>