{% extends "layout.html" %}
{% block body %}

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">首页</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1 class="text-center">{{ post.title }}</h1>
            <div class="well">
                {% if post.href %}
                     <footer><a href="{{ post.href }}" target="_blank">原文链接</a></footer>
                {% endif %}
                <p class="text-info text-right"><small>{{ post.summary }}</small></p>
            </div>
            <!-- 使用autoescape false后body所代表的html中的一些html标签才没有被转译 -->
            {% autoescape false %}
                {{ body }}
            {% endautoescape %}
            {% if post.youku_vid %}
                <div id="youkuplayer" style="width:480px;height:400px"></div>
                <script type="text/javascript" src="http://player.youku.com/jsapi">
                player = new YKU.Player('youkuplayer',{
                styleid: '0',
                client_id: '{{ client_id }}',
                vid: '{{ post.youku_vid }}'
                });
                </script>
            {% endif %}
            <a name="comment"></a>
            <div id="SOHUCS" sid="postpage_{{ post.id }}"></div>
            <script>changyan()</script>
        </div>
    </div>
</div>


{% endblock %}