<!DOCTYPE html>
<html>
<head lang="en">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/js/my_jquery_functions.js"></script>
    <style type="text/css">
        div.ex {
            background-color: #e5eecc;
            padding: 7px;
            border: solid 1px #c3c3c3;
        }
    </style>
    <meta charset="UTF-8">
    <title>javascript测试</title>
</head>
<body>
<p class="disappear">If you click on me, I will disappear.</p>
<hr>
<h3>联系方式</h3>
<div class="ex">
    <button class="hide" type="button">隐藏</button>
    <p><strong>山东泰信电子</strong><br>
        银荷大厦A座4F
    </p>
</div>
<hr>
<h3>联系电话</h3>
<div class="toggle">
    <button class="btn_toggle" type="button">切换</button>
    <div class="ex">
        <p>0531-87175001</p>
    </div>
</div>
</body>
</html>